body {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;

  .item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;

    .content {
      display: flex;

      .metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        .title {
          margin: 0;
        }
      }
    }

    .btn-group {
      display: flex;
      align-items: center;

      .button {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 42px;
        justify-content: center;
        font-size: 2em;

        a {
          color: lightseagreen;
          text-decoration: none;
        }

        &:hover {
          background-color: lightslategray;
          cursor: pointer;
        }

        &:hover a {
          color: white;
        }
      }
    }
  }
  .featured {
    flex: auto;
  }

  .associated {
    flex: initial;
  }

}
