body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
$main-blue: rgb(11, 21, 219);
$accent-blue: rgb(59, 133, 222);
@mixin nav-item {
  display: flex;
  height: calc(100% - 20px);
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@mixin nav-hover {
  &:hover {
    background-color: white;
    cursor: pointer;
    color: $main-blue;
  }
}
@mixin link-box {
  display: flex;
  height: 100%;

  a {
    @include nav-item;
    @include nav-hover;
  }
}

nav {
  background-color: $main-blue;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  transition: 0.25s;

  &:hover {
    box-shadow: 0 10px 30px 10px rgba(59, 133, 222, 0.5);
  }

  a {
    text-decoration: none;
    color: white;
  }

  .toggle {
    @include link-box;
    display: none;
  }

  .branding {
    @include nav-item;
    margin-left: 10px;
    margin-right: 20px;
    flex: initial;
    cursor: pointer;
  }

  div {
    display: none;
  }
}
@media (min-width: 501px) {
  .links-left {
    flex: auto;
    @include link-box;
  }

  .links-right {
    flex: initial;
    @include link-box;
  }
}
@media (max-width: 500px) {
  nav {
    .toggle {
      @include nav-item;
      @include nav-hover;
      float: left;
    }

    .branding {
      flex: auto;
      justify-content: flex-start;
    }
  }

  .active {
    display: block;
    height: 100%;

    a {
      height: 40px;
    }

    .toggle {
      background-color: $accent-blue;
    }

    .branding {
      padding-left: 20px;
    }

    div {
      display: block;
      background-color: $accent-blue;

      a {
        @include nav-item;
        display: block;
        text-align: center;
        &:hover {
          background-color: white;
          cursor: pointer;
          color: $accent-blue;
        }
      }
    }
  }
}
